.MainInfo {
    text-align: right;
    background-color: rgba(53, 123, 235, 0.548);
    border-radius: 0em 1em 1em 0em;
    padding: 1em;
    max-width: fit-content;
    position: absolute;
    top: 30%;
    color: white;
}